---
layout: page
title:  🗓 Past/Upcoming Events 
permalink: /events
image: /assets/images/events.png
---

<div class="container">

  <p class="text-center">
    List of confirmed events:
  </p>

  <div class="row featurette">

    {% assign today_date = 'now' | date: '%s' %}

    {% if site.data.data.results != %}
    <!-- If JSON data exists, output sections -->

    <!-- Upcoming Events Section -->
    <div class="table-responsive">
        <h3 class="text-center display-6 py-3">Upcoming Events</h3>
        <table class="mt-3 table table-striped table-hover table-sm align-middle">
          <thead class="table-light">
            <tr>
              <th>Type</th>
              <th>Title</th>
              <th>Place</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {% assign sortedItems = site.data.data.results | sort: "properties.Date.date.start" %}
            {% for result in sortedItems %}
                {% assign pre_date = result.properties.Date.date.start | date: '%s' %}
                {% if today_date <= pre_date %}
                <tr>
                  <td class="text-center">
                    <div class="badge pill-rounded" style="background-color: {{ result.properties.Type.select.color }};">
                      {{ result.properties.Type.select.name }}
                    </div>
                  </td>
                  <td>{{ result.properties.Title.title.[0].text.content }}</td>
                  <td>
                    {% if result.properties.Place.rich_text[0].text.link != null %}
                    <a href="{{ result.properties.Place.rich_text[0].text.link.url }}" target="_blank" rel="noopener noreferrer">
                         {{ result.properties.Place.rich_text[0].text.content }}
                    </a>
                    {% else %}
                         {{ result.properties.Place.rich_text[0].text.content }}
                    {% endif %}
                  </td>
                  <td><input type="date" value="{{ result.properties.Date.date.start }}" readonly /></td>
                </tr>
                {% endif %}
            {% endfor %}
          </tbody>
        </table>
    </div>

    <!-- Past Events Section -->
    <div class="table-responsive mt-5">
        <h3 class="text-center display-6 py-3">Past Events</h3>
        <table class="mt-3 table table-striped table-hover table-sm align-middle">
          <thead class="table-light">
            <tr>
              <th>Type</th>
              <th>Title</th>
              <th>Place</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {% for result in sortedItems %}
                {% assign pre_date = result.properties.Date.date.start | date: '%s' %}
                {% if today_date > pre_date %}
                <tr class="past">
                  <td class="text-center">
                    <div class="badge pill-rounded" style="background-color: {{ result.properties.Type.select.color }};">
                      {{ result.properties.Type.select.name }}
                    </div>
                  </td>
                  <td>{{ result.properties.Title.title.[0].text.content }}</td>
                  <td>
                    {% if result.properties.Place.rich_text[0].text.link != null %}
                    <a href="{{ result.properties.Place.rich_text[0].text.link.url }}" target="_blank" rel="noopener noreferrer">
                         {{ result.properties.Place.rich_text[0].text.content }}
                    </a>
                    {% else %}
                         {{ result.properties.Place.rich_text[0].text.content }}
                    {% endif %}
                  </td>
                  <td><input type="date" value="{{ result.properties.Date.date.start }}" readonly /></td>
                </tr>
                {% endif %}
            {% endfor %}
          </tbody>
        </table>
    </div>
    {% else %}
        <p class="text-center">[ Under Construction ]</p>
    {% endif %}

  </div>

</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->