---
layout: page
title: Resources
permalink: /resources
---

<section id="main" class="wrapper style2">

    <div class="container">

        <div class="row mb-5 align-items-center">
            <div class="col-6 col-12-medium">
                <p>
                    Following are some places where you can find Mishaal's work publically.
                </p>
                <p>
                    He's often invited to speak or train at private venues, like Universities, schools, groups,
                    companies, and events.
                </p>
            </div>
            <div class="col-6 col-12-medium text-center">
                <img class="img-fluid lazyimg rounded"
                    src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                    data-src="/assets/images/khan-walk.jpeg" alt="Khan - Walk of Fame" title="Khan - Walk of Fame" />
            </div>
        </div>
    </div>
</section>


{% include logos.html %}

{% include podcasts.html %}

{% include video-highlights.html %}