<footer class="">
			<!-- Footer -->
				<section id="footer" class="wrapper" id="contact">
					
						<div class="row">
								<!-- Contact -->
									<section class="feature-list ">
										<div class="row justify-content-lg-center mx-1">
											<div class="col-auto col-12-small">
												<section>
													<h3 class="icon solid fa-comment">Social</h3>
													<p>
														<a href="https://www.linkedin.com/in/mish-aal" target="_blank" title="LinkedIn"><i class="fa-brands fa-linkedin"></i> Linkedin</a><br />
														<a href="https://www.twitter.com/mish3alkhan" target="_blank" title="Twitter/X"><i class="fa-brands fa-twitter-square"></i> Twitter</a><br />
														<a href="https://www.amazon.com/author/mishaal" target="_blank" title="Amazon"><i class="fa-brands fa-amazon"></i> Author Page</a><br />
														<a rel="me" href="https://infosec.exchange/@mishaal" target="_blank" title="Mastodon"><i class="fa-brands fa-mastodon"></i> Mastodon</a>
													</p>
												</section>
											</div>
											<div class="col-auto col-12-small">
												<section>
													<h3 class="icon solid fa-envelope">Email</h3>
													<p>
													<a href="&#x6d;&#97;&#000105;&#x6c;&#116;&#x6f;&#00058;&#98;&#x6f;&#111;&#x6b;&#105;&#000110;&#000103;&#00064;&#000109;&#97;&#000105;&#000108;&#00046;&#109;&#000105;&#x73;&#000104;&#00097;&#x61;&#000108;&#107;&#x68;&#x61;&#x6e;&#46;&#99;&#000111;&#000109;" class="bidi">
														&#109;&#111;&#099;&#046;&#110;<!-- spam@gmail.com -->&#097;&#104;&#107;&#108;&#097;&#097;&#104;&#115;&#105;&#109;&#046;&#108;&#105;&#097;&#109;&#064;&#103;&#110;&#105;&#107;&#111;&#111;&#098;
													</a>
													</p>
													<!-- eSpeakers Book Me Now plugin BEGIN -->
													<a target='_blank' rel='noreferrer' href="https://www.espeakers.com/marketplace/bookmenow/47480/4eb9">
														<img class="lazyimg"
														src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
														data-src="https://www.espeakers.com/myprofile/plugins/bookmenow/bookmenow_230@2x.png" width="230"
															alt="Hire Mishaal Khan on eSpeakers Marketplace" title="Hire Mishaal Khan on eSpeakers Marketplace" border="0" />
													</a>
													<!-- Book Me Now plugin END -->
												</section>
											</div>
											<div class="col-auto col-12-small">
												<section>
													<h3 class="icon solid fa-phone">Phone</h3>
													<p>
														<a href="tel:12484345508">+1 (248) 434-5508</a>
													</p>
												</section>
											</div>
										</div>
									</section>
						</div>
						<div id="copyright">
								<ul>
									<li>Copyright © {{ site.time | date: "%Y" }} {{ site.name }} </li>
									<div style="display:none">spam@gmail.com</div>
								</ul>
						</div>
				</section>
            </footer>