<footer class="">
			<!-- Footer -->
				<section id="footer" class="wrapper" id="contact">
					
						<div class="row">
								<!-- Contact -->
									<section class="feature-list ">
										<div class="row justify-content-lg-center mx-1">
											<div class="col-auto col-12-small">
												<section>
													<h3 class="icon solid fa-comment">Social</h3>
													<p>
														<a href="https://www.linkedin.com/in/mish-aal" target="_blank" rel="noopener noreferrer" title="LinkedIn"><i class="fa-brands fa-linkedin"></i> Linkedin</a><br />
														<a href="https://www.twitter.com/mish3alkhan" target="_blank" rel="noopener noreferrer" title="Twitter/X"><i class="fa-brands fa-twitter-square"></i> Twitter</a><br />
														<a href="https://www.amazon.com/author/mishaal" target="_blank" rel="noopener noreferrer" title="Amazon"><i class="fa-brands fa-amazon"></i> Author Page</a><br />
														<a rel="me" href="https://infosec.exchange/@mishaal" target="_blank" rel="noopener noreferrer" title="Mastodon"><i class="fa-brands fa-mastodon"></i> Mastodon</a>
													</p>
												</section>
											</div>
											<div class="col-auto col-12-small">
												<section>
													<h3 class="icon solid fa-envelope">Email</h3>
													<p>
													<a href="&#x6d;&#97;&#000105;&#x6c;&#x74;&#000111;&#00058;&#x73;&#112;&#101;&#97;&#x6b;&#64;&#77;&#x69;&#x73;&#x68;&#x61;&#x61;&#108;&#x4b;&#104;&#00097;&#110;&#46;&#00099;&#x6f;&#x6d;?subject=Speaking Inquiry" class="bidi">
														&#109;&#x6f;&#00099;&#x2e;&#x6e;&#97;&#000104;<!-- spam@gmail.com -->&#x4b;&#x6c;&#x61;&#00097;&#104;&#x73;&#000105;&#x4d;&#x40;&#000107;&#00097;&#x65;&#000112;&#x73;
													</a>
													</p>
												</section>
											</div>
											<div class="col-auto col-12-small">
												<section>
													<h3 class="icon solid fa-phone">Phone</h3>
													<p>
														<a href="tel:12484345508">+1 (248) 434-5508</a>
													</p>
												</section>
											</div>
										</div>
									</section>
						</div>
						<div id="copyright">
								<ul>
									<li>Copyright © {{ site.time | date: "%Y" }} {{ site.name }} </li>
									<div style="display:none">spam@gmail.com</div>
								</ul>
						</div>
				</section>
            </footer>