
<section class="d-inline-block">
    <ul class="style5">
        <li>
            <a href="https://www.mastercard.com/" target="_blank" rel="noopener noreferrer">
                <img src="/assets/images/mastercard.webp" title="Mastercard" alt="Mastercard" />
            </a>
        </li>
        <li>
            <a href="https://www.blackhat.com/" target="_blank" rel="noopener noreferrer">
                <img src="/assets/images/blackhat.webp" title="Black Hat" alt="Black Hat" />
            </a>
        </li>
        <li>
            <a href="https://www.defcon.org" target="_blank" rel="noopener noreferrer">
                <img src="/assets/images/defcon.jpg" title="DEF CON" alt="DEF CON" />
            </a>
        </li>
        <li>

            <a href="https://www.ted.com" target="_blank" rel="noopener noreferrer">
                <img src="/assets/images/tedx.webp" title="TEDx" alt="TEDx" />
            </a>
        </li>
        <li>
            <a href="https://www.northwestern.edu" target="_blank" rel="noopener noreferrer">
                <img src="/assets/images/northwestern.png" title="Northwester University"
                    alt="Northwester University" />
            </a>
        </li>
        <li>
            <a href="https://www.iit.edu/" target="_blank" rel="noopener noreferrer">
                <img src="/assets/images/iit.jpg" title="Illinois Institute of Technology"
                    alt="Illinois Institute of Technology" />
            </a>
        </li>
        <li>
            <a href="https://nationalcyberleague.org/" target="_blank" rel="noopener noreferrer">
                <img src="/assets/images/ncl.png" title="National Cyber League"
                    alt="National Cyber League" />
            </a>
        </li>
        <li>
            <a href="https://www.securitybsides.com" target="_blank" rel="noopener noreferrer">
                <img src="/assets/images/bsides.png" title="Security BSides Events"
                    alt="Security BSides Events" />
            </a>
        </li>
    </ul>
</section>