<!-- Podcast Highlights -->
<section class="wrapper style2" id="videos">
    <div class="title">
        <h1><i class="fa-solid fa-podcast"></i> Podcasts</h1>
    </div>
    <div class="container">
        <section class="box my-4 d-inline-block" id="podcasts">
            <p class="text-center">Mishaal has appeared as a guest on the following podcasts as a subject matter expert.
            </p>

            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col-3">
                            <a href="https://pretendradio.org/episode/munchausen-by-proxy-accusations-tanya-fernandez-stalking-herself-the-stalker-part-9/"
                                target="_blank">
                                <img class="img-fluid rounded" src="/assets/images/pretend.jpg" alt="Pretend Radio" />
                            </a>
                        </div>
                        <div class="col-9">
                            <h3>Pretend Radio</h3>
                            <p>Interviewed as a cybersecurity expert and <em>"hacker"</em> to help on a stalker case.
                                (Ep. 9)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col-3">
                            <a href="/assets/audio/233.mp3" target="_blank">
                                <img class="img-fluid rounded" src="/assets/images/pso.png"
                                    alt="Privacy, Security and OSINT Show" />
                            </a>
                        </div>
                        <div class="col-9">
                            <h3>Privacy, Security and OSINT Show</h3>
                            <p>Ep. 233. Interviewed by Michael Bazzell for developing a private, self-hosted VoIP app.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col-3">
                            <a href="https://www.youtube.com/watch?v=pz01gg7j9Tk" target="_blank">
                                <img class="img-fluid rounded" src="/assets/images/simplysecurepodcast.jpg"
                                    alt="Leaders In Cyber" />
                            </a>
                        </div>
                        <div class="col-9">
                            <h3>Leaders In Cyber Podcast</h3>
                            <p>A cybersecurity leadership podcast. We talk about OSINT, Privacy, being a CISO and
                                getting into Cybersecurity.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col-3">
                            <a href="https://podcasts.apple.com/us/podcast/breadcrumbs-by-trace-labs/id1542092539?i=1000508186661"
                                target="_blank">
                                <img class="img-fluid rounded" src="/assets/images/breadcrumbs.jpg" alt="Breadcrumbs" />
                            </a>
                        </div>
                        <div class="col-9">
                            <h3>Breadcrumbs</h3>
                            <p>A podcast by Trace Labs about Open Source Intelligence, talking about LinkedIn OSINT
                                techniques</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>