	<!-- Video Highlights -->
    <section class="wrapper style3" id="videos">
        <div class="title"><h1><i class="fa-brands fa-youtube"></i> Public Videos</h1></div>
        <div class="container">
            
            <div class="row aln-center">
                <p class="text-center">
                    <em>"I engage my audience by immersing them in a relatable and entertaining learning environment."</em>
                </p>
                <div class="col">
                    <section class="highlight">
                        <a href="https://youtu.be/Blca4yWPjfg?t=45" target="_blank" rel="noopener noreferrer" class="image"><img src="https://i3.ytimg.com/vi/Blca4yWPjfg/hqdefault.jpg" alt="SANS Hackfest Hollywood" /></a>
                        <h3><a href="https://youtu.be/Blca4yWPjfg?feature=shared&t=45" target="_blank" rel="noopener noreferrer">SANS Hackfest Hollywood</a></h3>
                        <p>AI-Powered Vishing Attacks</p>
                    </section>
                </div>
                <div class="col">
                    <section class="highlight">
                        <a href="https://youtu.be/vIPAqooyCE8?t=18" target="_blank" rel="noopener noreferrer" class="image"><img src="https://i3.ytimg.com/vi/vIPAqooyCE8/hqdefault.jpg" alt="Wild West Hackin' Fest" /></a>
                        <h3><a href="https://youtu.be/vIPAqooyCE8?t=18" target="_blank" rel="noopener noreferrer">Wild West Hackin' Fest</a></h3>
                        <p>Next Level OSINT</p>
                    </section>
                </div>
                <div class="col">
                    <section class="highlight">
                        <a href="https://youtu.be/_9LAje8JWQ4" target="_blank" rel="noopener noreferrer" class="image"><img src="https://i3.ytimg.com/vi/_9LAje8JWQ4/hqdefault.jpg" alt="The Phantom CISO: A Fireside Chat with Mishaal Khan" /></a>
                        <h3><a href="https://youtu.be/_9LAje8JWQ4" target="_blank" rel="noopener noreferrer">The Phantom CISO:</a></h3>
                        <p>A Fireside Chat with Mishaal Khan</p>
                    </section>
                </div>
                <div class="col">
                    <section class="highlight">
                        <a href="https://youtu.be/acBZvBAZMLY" target="_blank" rel="noopener noreferrer" class="image"><img src="https://i3.ytimg.com/vi/acBZvBAZMLY/hqdefault.jpg" alt="Interview for Fabulous with Fabio Talk Show" /></a>
                        <h3><a href="https://youtu.be/acBZvBAZMLY" target="_blank" rel="noopener noreferrer">Fabulous with Fabio Talk Show</a></h3>
                        <p>A candid interview</p>
                    </section>
                </div>
                <div class="col">
                    <section class="highlight">
                        <a href="https://youtu.be/v7GWqQLoWvc" target="_blank" rel="noopener noreferrer" class="image"><img src="https://i3.ytimg.com/vi/v7GWqQLoWvc/hqdefault.jpg" alt="DEF CON 29" /></a>
                        <h3><a href="https://youtu.be/v7GWqQLoWvc" target="_blank" rel="noopener noreferrer">DEF CON 29</a></h3>
                        <p>People Hunting: A Pentester’s Perspective</p>
                    </section>
                </div>
                <div class="col">
                    <section class="highlight">
                        <a href="https://www.youtube.com/watch?v=hU7CNzoPIQw" target="_blank" rel="noopener noreferrer" class="image"><img src="/images/wwhf.jpg" alt="Wild West Hackin' Fest" /></a>
                        <h3><a href="https://www.youtube.com/watch?v=hU7CNzoPIQw" target="_blank" rel="noopener noreferrer">5x @ Wild West Hackin' Fest</a></h3>
                        <p>When OSINT Met Privacy, Next Level OSINT, Operation Privacy, What's Up Breaches, 16 hr Training</p>
                    </section>
                </div>
                <div class="col">
                    <section class="highlight">
                        <a href="https://youtu.be/WLWvaST7Grw" target="_blank" rel="noopener noreferrer" class="image"><img src="https://i3.ytimg.com/vi/WLWvaST7Grw/hqdefault.jpg" alt="ConINT" /></a>
                        <h3><a href="https://youtu.be/WLWvaST7Grw" target="_blank" rel="noopener noreferrer">2x @ ConINT</a></h3>
                        <p>Advancing OSINT with Social Engineering,<br/>Breaches: Mixed Emotions</p>
                    </section>
                </div>
                <div class="col">
                    <section class="highlight">
                        <a href="https://youtu.be/ndqUqsmHBac?t=5619" target="_blank" rel="noopener noreferrer" class="image"><img src="/images/grimmcon.jpg" alt="GRIMMCon" /></a>
                        <h3><a href="https://youtu.be/ndqUqsmHBac?t=5619" target="_blank" rel="noopener noreferrer">GRIMMCon 0x7</a></h3>
                        <p>CISO-ng: The Next Generation of Cybersecurity Leaders</p>
                    </section>
                </div>
                <div class="col">
                    <section class="highlight">
                        <a href="https://youtu.be/xRnVzafXZjQ" target="_blank" rel="noopener noreferrer" class="image"><img src="https://i3.ytimg.com/vi/xRnVzafXZjQ/hqdefault.jpg" alt="H@cktivityCon" /></a>
                        <h3><a href="https://youtu.be/xRnVzafXZjQ" target="_blank" rel="noopener noreferrer">H@cktivityCon</a></h3>
                        <p>The Power of Social Engineering</p>
                    </section>
                </div>
                <div class="col">
                    <section class="highlight">
                        <a href="https://youtu.be/bz4oZBR3LEk" target="_blank" rel="noopener noreferrer" class="image"><img src="https://i3.ytimg.com/vi/bz4oZBR3LEk/hqdefault.jpg" alt="Trace Labs" /></a>
                        <h3><a href="https://youtu.be/bz4oZBR3LEk">Trace Labs</a></h3>
                        <p>LinkedIn OSINT Techniques</p>
                    </section>
                </div>
                <div class="col">
                    <section class="highlight">
                        <a href="https://youtu.be/1mGDFsNEqp4" class="image"><img src="https://i3.ytimg.com/vi/1mGDFsNEqp4/hq1.jpg" alt="PancakesCon" /></a>
                        <h3><a href="https://youtu.be/1mGDFsNEqp4" target="_blank" rel="noopener noreferrer">PancakesCon 2</a></h3>
                        <p>Phishing with Caricatures</p>
                    </section>
                </div>
                <div class="col">
                    <section class="highlight">
                        <a href="https://youtu.be/14e9_yI09m4" class="image"><img src="https://i3.ytimg.com/vi/14e9_yI09m4/hq1.jpg" alt="Layer 8 Conference" /></a>
                        <h3><a href="https://youtu.be/14e9_yI09m4" target="_blank" rel="noopener noreferrer">Layer 8 Conference</a></h3>
                        <p>Pivot, Pivot, Pivot</p>
                    </section>
                </div>
                <div class="col">
                    <section class="highlight">
                        <a href="https://youtu.be/2i4ONK2zhY4" target="_blank" rel="noopener noreferrer" class="image"><img src="https://i3.ytimg.com/vi/2i4ONK2zhY4/hqdefault.jpg" alt="" /></a>
                        <h3><a href="https://youtu.be/2i4ONK2zhY4" target="_blank" rel="noopener noreferrer">Mindsight Presentation</a></h3>
                        <p>A Hacker's Perspective on Hybrid Work</p>
                    </section>
                </div>
                <div class="col">
                    <section class="highlight">
                        <a href="https://www.hexnode.com/events/hexcon21/speakers/"  target="_blank" rel="noopener noreferrer" class="image"><img src="/images/hexcon.jpg" alt="" /></a>
                        <h3><a href="https://www.hexnode.com/events/hexcon21/speakers/"  target="_blank" rel="noopener noreferrer">HEXCON 21</a></h3>
                        <p>Corporate Breach: Your organization from the eyes of a hacker</p>
                    </section>
                </div>
                <div class="col">
                    <section class="highlight">
                        <a href="https://www.youtube.com/live/e-WXHFb7c3k?feature=share&t=1943"  target="_blank" rel="noopener noreferrer" class="image"><img src="https://i3.ytimg.com/vi/e-WXHFb7c3k/hqdefault.jpg" alt="" /></a>
                        <h3><a href="https://www.youtube.com/live/e-WXHFb7c3k?feature=share&t=1943"  target="_blank" rel="noopener noreferrer">Antisyphon Training</a></h3>
                        <p>OSINT Uncovered. Mind blowing OSINT techniques!</p>
                    </section>
                </div>
            </div>
        </div>
    </section>